.top-area {
	background-color: #405D9B;
	min-height: 80px;
}

.login-button {
	font-size: 13px !important;
	font-family: Arial;
	background-color: #405D9B !important;
}

nav input {
	padding: 0px !important;
	border-radius: 0px !important;
}

.nav-input-mail {
	position: absolute;
	margin-top: -25px;
	margin-left: 2px;
	font-size: 13px;
	color: white;
}

.nav-input-password {
	position: absolute;
	margin-top: -25px;
	margin-left: 160px;
	font-size: 13px;
	color: white;
}

.nav-reset {
	position: absolute;
	margin-top: 20px;
	margin-left: 160px;
	font-size: 13px;
	color: #9CB4D0;
}

.bg-gradient {
	background: linear-gradient(white,#D4D9E8);
	background: -webkit-linear-gradient(white,#D4D9E8);
	background: -moz-linear-gradient(white,#D4D9E8);
	background: -o-linear-gradient(white,#D4D9E8);
}

.header-info {
	color: #0E385F;
	font-weight: bold;
}

.birth-date {
	padding: 0px;
	width: 60px;
	border-radius: 0px;
	height: 35px;
}

.bdate-info {
	font-size: 10px;
}

.signup-button {
	background-color: #639B4F;
	color: white;
	font-weight: bold;
	font-size: 18px;
}